/archive/             
ColourDetectionResults.txt  
NewColourDataSet.docx
black.jpg           
colourReuse.png             
patent.jpeg
DataSet.docx                
paths.txt
Character.jpg       
Deadpool.jpeg               
replica.jpeg
cleaning.jpg        
exa1.png                    
requirements.docx
exa2.png                    
sample
finalMiniProjectPPT.pptx    
SourceCodes.docx
ColourDataSet.pdf   
fort77.jpg                  
tiger.jpeg
kylo.jpg                    
WWII.jpg

